<!DOCTYPE html>
    <html lang="en" xmlns:th="https://thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
<body class="text-center">
    <nav th:replace="fragments :: navigation"></nav>
        <form method="post">
            <th:block th:each="recipe : ${recipes}">
                <div class="form-group">
                    <lable>
                        <span th:text="${recipe.name}"></span>
                        <input type="checkbox" name="recipeId" th:value="${recipe.id}" class="form-control">
                    </lable>
                </div>
            </th:block>
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>