<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-left">
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
	<div style="background: url(https://docs.google.com/drawings/d/e/2PACX-1vQBjDKIpq88lBqAxd6he6dE6leytcgj7AEwuLZdqB8mferJmIZPCEBLuGqtONwg3IieZ047_0ymJdCG/pub?w=954&h=631)" class="page-holder bg-cover">
	<div class="container">
		<div class="row">
			<div class="col text-left">
				<div class="font-weight-bold" th:if="${recipe.favorite}">
					<h1><span class="badge bg-warning">Favorite</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<H1 class="font-weight-bold" th:text="${recipe.name}">Default Text</H1>
				<div class = "container col text-center">Created By: <span th:text="${recipe.user.username}"></span>
				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-md-3 offset-1 text-center" style="background-color:lightcyan">
					<div class="font-weight-bold">Recipe Prep Time: <span th:text="${recipe.prepTime}"></span> minutes</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 offset-1 text-center">
					<div class="font-weight-bold">Recipe Cook Time: <span th:text="${recipe.cookTime}"></span> minutes</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 offset-1 text-center" style="background-color:lightcyan">
					<div class="font-weight-bold">Recipe Servings: <span th:text="${recipe.servings}"></span></div>
				</div>
			</div>
		</div>
		<div class = "container-sm">
			<div class="row justify-content-around">
				<div class="col-4 text-left h-50 p-3 my-3 border border-success">
					<div class="font-weight-bold">Recipe Ingredients: </div>
					<span th:text="${recipe.ingredients}"></span>
				</div>

				<div class="col-6.offset-md-2 text-left p-3 my-3 border border-success">
					<div class="font-weight-bold">Recipe Directions: </div>
					<span th:text="${recipe.directions}"></span>
				</div>
			</div>

		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm">
					<p class="font-weight-bold">Sommelier Suggestions:</p>
					<th:block th:if="${recipe.beverages.size() > 0}" th:each="beverage : ${recipe.beverages}">
						<p th:text="${beverage.name}"></p>
					</th:block>
					<p th:unless="${recipe.beverages.size()}">No Beverage Pairings</p>
				</div>
				<div class="col-sm">
					<p class="font-weight-bold">Recipe Image:</p>
					<img class="img-fluid img-thumbnail" th:src="${recipe.image}" onerror="this.src='https://docs.google.com/drawings/d/e/2PACX-1vRRKeSRG7GN6DYsnEN6QEnHXtDnMNoTipb3GnS1myMZi-U070HVz_ku-LAQJAHybTPUOFSHcLoMaZZZ/pub?w=319&h=320';" alt="Missing Image">
				</div>
				<div class="col-sm">
					<p class="font-weight-bold">Recipe Categories:</p>
					<th:block th:if="${recipe.categories.size() > 0}" th:each="category : ${recipe.categories}">
						<p th:text="${category.name}"></p>
					</th:block>
					<p th:unless="${recipe.categories.size()}">No Categories</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<div class="container text-center">
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: bootstrap-javascript"></div>
</div>
</html>