<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Recipe Name:</th>
			<td th:text="${recipe.name}">Default Text</td>
		</tr>
		<tr>
			<th>Recipe Categories:</th>
			<td>
				<th:block th:if="${recipe.categories.size() > 0}" th:each="category : ${recipe.categories}">
					<p th:text="${category.name}"></p>
				</th:block>
				<p th:unless="${recipe.categories.size()}">No Categories</p>
			</td>
		</tr>
		<tr>
			<th>Recipe Ingredients:</th>
			<td th:text="${recipe.ingredients}">Default Text</td>
		</tr>
		<tr>
			<th>Recipe Servings:</th>
			<td th:text="${recipe.servings}">Default Text</td>
		</tr>
		<tr>
			<th>Recipe Prep Time (in minutes):</th>
			<td th:text="${recipe.prepTime}">Default Text</td>
		</tr>
		<tr>
			<th>Recipe Cook Time (in minutes):</th>
			<td th:text="${recipe.cookTime}">Default Text</td>
		</tr>
		<tr>
			<th>Recipe Directions:</th>
			<td th:text="${recipe.directions}">Default Text</td>
		<tr>
			<th>Sommelier Suggestions:</th>
			<td>
				<th:block th:each="beverage : ${recipe.beverages}">
					<p th:text="${beverage.name}"></p>
				</th:block>
			</td>
		</tr>
		<tr th:if="${recipe.image != ''}">
			<th>Recipe Image:</th>
			<td><img class="img-fluid img-thumbnail" th:src="${recipe.image}"/></td>
		</tr>

		<tr>
			<th>Created By:</th>
			<td th:text="${recipe.user.username}">Default Text</td>
		<tr>
		</thead>
	</table>
</div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: bootstrap-javascript"></div>
</body>
</html>