<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
	<h2 th:unless="${recipes} and ${recipes.size()}">We're sorry, there are currently no recipes! Feel free to
		<a th:href="@{/recipes/create}">create a recipe now</a></h2>
	<table class="table table-striped table-hover" th:if="${recipes} and ${recipes.size()} > 0">
        <thead>
        <tr>
            <th>Recipe Name</th>
	        <th>Recipe Description</th>
	        <th>Recipe Details</th>
	        <th>Copy/Edit</th>
        </tr>
        </thead>
        <tr th:each="recipe : ${recipes}">
			<td><span th:if="${recipe.favorite}">
				<a class="badge badge-warning">Favorite</a>
				</span><a th:text="${recipe.name}" th:href="'/recipes/detail?recipeId=' + ${recipe.id}"></a>
			</td>
	        <td>
		        <a th:if="${recipe.description}" th:text="${recipe.description}"></a>
		        <a th:unless="${recipe.description != ''}">No Description Available</a>
	        </td>
	        <td>
		        <a th:text="${'Prep Time: ' + recipe.prepTime}"></a><br>
		        <a th:text="${'Cook Time: ' + recipe.cookTime}"></a><br>
		        <a th:text="${'Servings: ' + recipe.servings}"></a>
	        </td>
			<td>
			    <button
			            type="button"
			            class="btn btn-light dropdown-toggle btn-sm"
			            data-toggle="dropdown"
			            aria-expanded="false"> Action
			    </button>
			    <ul class="dropdown-menu" >
					<li th:if="${recipe.user.equals(user)}"><a class="dropdown-item"  th:value = "${recipe.id}" th:href="'/recipes/edit/' + ${recipe.id}">Edit</a></li>
					<li><a class="dropdown-item"  th:value = "${recipe.id}" th:href="'/recipes/copy/' + ${recipe.id}"> Copy</a></li>
			    </ul>
			</td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: bootstrap-javascript"></div>
</body>
</html>