<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Recipe Name</th>
	        <th>Prep Time</th>
	        <th>Cook Time</th>
	        <th>Servings</th>
        </tr>
        </thead>
        <tr th:each="recipe : ${recipes}">
            <td><a th:text="${recipe.name}"></a></td>
	        <td><a th:text="${recipe.prepTime}"></a></td>
	        <td><a th:text="${recipe.cookTime}"></a></td>
	        <td><a th:text="${recipe.servings}"></a></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>