.error {
    color: red;
}

body, html {
  min-height: 100vh;
}

.sam {
    float: center;
    width: 15%;
}

.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}
.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}
/*.checkboxes {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex-align: left;
}

.checkboxes>* {
  flex: 1 1 50%;
}/*


