.error {
    color: red;
}

body, html {
  min-height: 100vh;
}

.sam {
    float: center;
    width: 15%;
}

.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}

