<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
    <nav th:replace="fragments :: navigation"></nav>
    <div class="container-fluid pt-4 text-white" style="margin-left">
    <div style="background: url(https://docs.google.com/drawings/d/e/2PACX-1vSitCz69TLK4FIwiV2yIjNVCUJVrcJiPbDvcoJXrp9SdV1oBJkx53ZBEme2plO3RJe5tOUeBOVbNm9_/pub?w=960&h=720" class="page-holder bg-cover">
        <div class="container-fluid" style="margin-left">
            <div class = "row pt-5"></div>
            <img class = "sam" src = "https://docs.google.com/drawings/d/e/2PACX-1vRTbmyMIIWdHmvi7FxEEq8LLspauOrriQqn4sm48F6WTqAaCKmyuA0vN_ff2XbC28_mUt-Y8qLaJsnZ/pub?w=960&h=720" align="left">
            <div class = "row pt-5"></div>
            <div class="row offset-md-4 text-white">
                <form method="post" th:action="@{/beverages/copy}">
                    <input type="hidden" th:value="${beverage.id}" name="beverageId">
                        <div th:replace="fragments :: beverage-form-group"></div>
                        <input type="submit" value="Copy Beverage" th:formaction="@{/beverages/copy}" class="btn btn-info">
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="container text-center">
        <footer th:replace="fragments :: footer"></footer>
            <div th:replace="fragments :: bootstrap-javascript"></div>
    </div>
</body>
</html>