<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center ">
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid" style="margin-left">
    <div style="background: url(https://docs.google.com/drawings/d/e/2PACX-1vSKwDvd2IOAByvRzdJmKyWtegHHvk1fAVWmZZunKm0XMzPUO2rZQE1bLzgd1KEIdtYbxjqfOVQmuXqA/pub?w=960&h=720)" class="page-holder bg-cover">
        <div class = "row pt-5"></div>
        <div class = "row pt-5"></div>
         <div class="row offset-md-4 text-white">
            <form method="post">
                <div th:replace="form-fragments :: beverage-form-group"></div>
                <input type="submit" value="Create Beverage" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<div class="container text-center">
    <footer th:replace="fragments :: footer"></footer>
    <div th:replace="fragments :: bootstrap-javascript"></div>
</div>
</body>
</html>