<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
<nav th:replace="fragments :: navigation"></nav>
<img class = "sam" src = "https://docs.google.com/drawings/d/e/2PACX-1vRn_7yHWBEvtlOdRRo_qu2kcUVZoXeRpWpd1B2fBwq9NdHbjOq64m902PXtDWkBbaqqXkeuYL-FTQdi/pub?w=960&h=720">
<div class="container-fluid">
	<h2 th:unless="${beverages} and ${beverages.size()}">We're sorry, there are currently no beverages! Feel free to
		<a th:href="@{/beverages/create}">create a beverage now</a></h2>
	<table class="table table-striped" th:if="${beverages} and ${beverages.size()} > 0">
        <thead>
        <tr>
            <th>Beverage Name</th>
        </tr>
        </thead>
        <tr th:each="beverage : ${beverages}">
            <td><a th:text="${beverage.name}" th:value = "${beverage.id}"th:href="'/recipes?beverageId=' + ${beverage.id}"></a></td>
            <td><a th:text="Edit" th:value = "${beverage.id}" th:href="'beverages/edit/' + ${beverage.id}"></a></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: bootstrap-javascript"></div>
</body>
</html>