<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
<nav th:replace="fragments :: navigation"></nav>
<img class = "sam" src = https://docs.google.com/drawings/d/e/2PACX-1vSbD2p5bki6zEVALeTf7UsVrZgTfyBV0tjyhsdOE-3iEMxNXCziZoO0ZKMTaZ-1R6kTlOESPXt53YBa/pub?w=366&h=360>
<div class="container-fluid">
    <form method="post" th:action="@{/categories/copy}">
        <input type="hidden" th:value="${category.id}" name="categoryId">
        <div th:replace="fragments :: category-form-group"></div>
        <input type="submit" value="Copy" th:formaction="@{/categories/copy}" class="btn btn-info">
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: bootstrap-javascript"></div>
</body>
</html>