<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center ">
<nav th:replace="fragments :: navigation"></nav>
<img class = "sam" src = https://docs.google.com/drawings/d/e/2PACX-1vSbD2p5bki6zEVALeTf7UsVrZgTfyBV0tjyhsdOE-3iEMxNXCziZoO0ZKMTaZ-1R6kTlOESPXt53YBa/pub?w=366&h=360>
<div class="container-fluid">
	<form method="post">
        <div th:replace="fragments :: category-form-group"></div>
        <!--div class="form-group">
            <label>Name
                <input th:field="${category.name}" class="form-control">
            </label>
            <span th:errors="${category.name}" class="error"></span>
        </div-->
        <input type="submit" value="Create" class="btn btn-primary">
	</form>
</div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: bootstrap-javascript"></div>
</body>
</html>