<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid text-white">
<div style="background: url(https://docs.google.com/drawings/d/e/2PACX-1vSitCz69TLK4FIwiV2yIjNVCUJVrcJiPbDvcoJXrp9SdV1oBJkx53ZBEme2plO3RJe5tOUeBOVbNm9_/pub?w=960&h=720" class="page-holder bg-cover">

		<form method="post">
			<div class="form-group pt-5">
				<label>Username
					<input class="form-control" th:field="${loginFormDTO.username}">
				</label>
				<p class="error" th:errors="${loginFormDTO.username}"></p>
			</div>
			<div class="form-group">
				<label>Password
					<input type="password" class="form-control" th:field="${loginFormDTO.password}">
				</label>
				<p class="error" th:errors="${loginFormDTO.password}"></p>
			</div>

			<input type="submit" class="btn btn-primary" value="Log In" />
		</form>

		<p>Don't have an account? <a th:href="@{/register}">Register for one.</a></p>
	</div>
</div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: bootstrap-javascript"></div>
</body>
</html>